!Color scheme to be adopted by as many applications as possible
#define BG #212121
#define BAR #5c544f
#define TEXT #F5F5F5
#define INACTIVE_BG #323232
#define IND #7cb342
#define UNSEL #909090
#define URG #FF9100

i3wm.bgcolor: BG
i3wm.textcolor: TEXT
i3wm.inactive_bgcolor: INACTIVE_BG
i3wm.ind_color: IND
i3wm.unsel_textcolor: UNSEL
i3wm.barbgcolor: BAR

polybar.bgcolor: BAR
polybar.textcolor: TEXT
polybar.active_color: TEXT
polybar.ind_color: IND
polybar.urgent: URG

rofi.color-enabled: true
rofi.color-window: BG, IND, IND
rofi.color-normal: BG, UNSEL, INACTIVE_BG, IND, BG
rofi.color-active: BG, IND, INACTIVE_BG, IND, BG
rofi.color-urgent: BG, URG, INACTIVE_BG, URG, BG

rofi.font: SFNS Display 12
rofi.separator-style: solid
rofi.lines: 6
rofi.eh: 1
rofi.bw: 0
rofi.width: 500

rofi.kb-mode-next:		Tab
rofi.kb-mode-previous:	Control+Tab
