* {
    -GtkArrow-arrow-scaling: 0.7;
    -GtkButton-child-displacement-x: 0;
    -GtkButton-child-displacement-y: 0;
    -GtkButton-default-border: 0;
    -GtkButton-image-spacing: 0;
    -GtkButton-interior-focus: true;
    -GtkButton-inner-border: 1;
    -GtkCheckButton-indicator-size: 16;
    -GtkCheckMenuItem-indicator-size: 14;
    -GtkEntry-inner-border: 2;
    -GtkEntry-progress-border: 0;
    -GtkExpander-expander-size: 8;
    -GtkHTML-link-color: @link_color;
    -GtkIMHtml-hyperlink-color: @link_color;
    -GtkMenu-horizontal-padding: 0;
    -GtkMenu-vertical-padding: 5;
    -GtkMenuBar-internal-padding: 0;
    -GtkMenuItem-arrow-scaling: 0.6;
    -GtkNotebook-tab-overlap: 0;
    -GtkNotebook-tab-curvature: 0;
	-GtkNotebook-initial-gap: 0;

    -GtkPaned-handle-size: 3;

    -GtkProgressBar-min-horizontal-bar-height: 14;
    -GtkProgressBar-min-vertical-bar-width: 14;

    -GtkScrolledWindow-scrollbar-spacing: 0;
    -GtkScrolledWindow-scrollbars-within-bevel: 1;

    -GtkSeparatorMenuItem-horizontal-padding: 0;

    -GtkTextView-error-underline-color: @error_color;
    -GtkTreeView-vertical-separator: 0;
    -GtkWidget-wide-separators: true;
    -GtkWidget-separator-width: 2px;
    -GtkWidget-separator-height: 2;

    -GtkToolItemGroup-expander-size: 11;
	-GtkToolbar-internal-padding: 0;
    -GtkToolButton-icon-spacing: 4;

    -GtkTreeView-expander-size: 8;

    -GtkWidget-focus-padding: 0;
    -GtkWidget-focus-line-width: 1;
    -GtkWidget-link-color: @link_color;
    -GtkWidget-visited-link-color: @link_color;

    -GtkWindow-resize-grip-height: 0;
	-GtkWindow-resize-grip-width: 0;

    -WnckTasklist-fade-overlay-rect: 0;

    border-width: 1px;
	engine: unico;

	/* Resaltar destino en drag-drop */

	-unico-focus-border-color: alpha (@theme_selected_bg_color, 0.25);
    -unico-focus-border-radius: 0;
    -unico-focus-fill-color: alpha (@theme_selected_bg_color, 0.1);
    -unico-focus-outer-stroke-color: transparent;

	-unico-inner-stroke-color:  transparent;
	-unico-inner-stroke-width:  0;
	-unico-outer-stroke-color:  transparent;
	-unico-outer-stroke-width:  0;

	-unico-focus-border-dashes: 0;

}

